:root {
  --primary-green: #1ac073;
  --secondary-green: #c7eacc;
  --primary-white: #f0faf7;
  --secondary-white: #f2f2f2;
  --primary-yellow: #f3ba00;
  --background-white: #f7f8fa;
  --white: #fff;
  --black: #000;
}
